<%= render 'partials/header' %>

<section>
  <div class="container"> <!-- open div container top -->

    <div class="col col-lg-4">
    </div>

    <div class="col col-lg-4">  <!-- open col middle -->
      <h1>Edit <%= resource_name.to_s.humanize %></h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %> <!-- open form_for -->
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <br>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter New Password" %>
          </div>

          <br>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm New Password" %>
          </div>

          <br>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter Old Password" %>
          </div>

          <br><br>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-block btn-success" %>
          </div>
        <% end %>  <!-- close form_for -->

        <br><br>

        <%= link_to "Back", :back, class: "btn btn-lg btn-primary" %>

      </div>  <!-- close col middle -->

    <div class="col col-lg-2">
    </div>

    <div class="col col-lg-12">
      <h4>Unhappy?</h4>
        <p>Cancel Your Account <%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-xs btn-danger" %></p>
    </div>

  </div> <!-- close div container top -->
</section>
