<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ABetterU", root_path, class: "navbar-brand" %>
      <% favicon_link_tag '/favicon.ico' %>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Workouts", user_exercises_path(current_user) %></li>
          <li><%= link_to "My Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out",  destroy_user_session_path, method: :delete %></li>
          <p class="navbar-text">Signed in as <%= "#{current_user.first_name}" %></p>
        <% else %>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <%= form_tag(search_dashboard_path, class: "navbar-form navbar-left", role: "search") do %>
          <div class="form-group">
            <%= text_field_tag :search_name, nil, placeholder: "Search", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
