<%= render 'partials/header' %>
<section>
  <div class="container">
    <h1><%= @friend.full_name %>'s Exercises</h1>
    <% unless @exercises.empty? %>
        <h1>Listing Exercises</h1><br>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Duration (mins)</th>
            <th>Workout Details</th>
            <th>Activity Date</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @exercises.each do |exercise| %>
            <tr>
              <td><%= exercise.duration_in_min %></td>
              <td><%= exercise.workout %></td>
              <td><%= exercise.workout_date.strftime('%m-%d-%Y') %></td>
            </tr>
           <% end %>
          </tbody>
        </table>

        <br>
      <% else %>
        <div class="alert alert-danger message-font text-center" role="alert">
          No Workouts yets
        </div>
        <br>
      <% end %>
        <%= content_tag :div, "", id: "chart", data: { workouts: @exercises } %>
        <script>
            $('#exercise_workout_date').datepicker({ dateFormat: 'yy-mm-dd' });

          Morris.Area({
          // ID of the element in which to draw the chart.
            element: 'line-chart',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
            data: $('#line-chart').data('workouts'),
          // The name of the data record attribute that contains x-values. xkey: 'workout_date',
          // A list of names of data record attributes that contain y-values. ykeys: ['duration_in_mins'],

          // Labels for the ykeys -- will be displayed when you hover over the // chart.
            xkey: 'workout_date',
            ykeys: ['duration_in_min'],
            labels: ['Duration (min)'],
            lineColors: ['#2D9C2F'],
            pointFillColors: ['#ff9900'],
            xLabels: "day",
            xLabelAngle: 0,

            xLabelFormat: function (x) {
          date_string = parseInt(x.getMonth() + 1) + "-" + x.getDate();
          return date_string;
            },
            yLabelFormat: function(y) { return y + ' min'; }
            });
          });
        </script>

        <br>
        <%= link_to "Back", user_exercises_path(current_user), class: "btn btn-primary link" %>

    </div> <!-- container -->
</section>
