<div class="container graph">
 <div class="col-xs-10 col-md-10 col-md-offset-1">
  <div>
    <h2 class="show-header text-center"><%= "#{@exercise.user.full_name}'s Workout Details" %></h2>
  </div>
    <div class="col-xs-12 col-xs-10 well member">
      <div class="col-xs-4">
        <strong>Duration (mins):</strong>
      </div>
      <div class="col-xs-8 text-left">
        <%= @exercise.duration_in_min%>
      </div>
    </div>

    <div class="col-xs-12 col-xs-10 well member">
      <div class="col-xs-4">
        <strong>Workout details:</strong>
      </div>
      <div class="col-xs-8 text-left">
        <%= @exercise.workout %>
      </div>
    </div>

    <div class="col-md-12 col-md-10 well member">
      <div class="col-xs-4">
        <strong>Activity date:</strong>
      </div>
      <div class="col-xs-8 text-left">
        <%= @exercise.workout_date.strftime('%m-%d-%Y') %>
      </div>
    </div>

    <div class="col-md-12 col-md-10 well member">
      <div class="col-xs-4">
        <strong>Status</strong>
      </div>
      <div class="col-xs-8 text-left">
        <% if @exercise.status %>
          Completed
        <% else %>
          Not Completed
        <% end %>
      </div>
    </div>

     <div class="col-xs-12 col-md-10 member">
      <%= link_to "Back", user_exercises_path(current_user) %>
    </div>
</div>
</div>
