<%= render 'partials/header' %>
<section>
  <div class="container-fluid">
    <h2 class="show-header text-center"><%= "#{@exercise.user.full_name}'s Workout Details" %></h2><br>
      <div class="col col-md-8 col-md-offset-2">
        <table class="table">
       <thead>
          <tr>
            <th>Duration (mins)</th>
            <th>Workout details</th>
            <th>Activity date</th>
            <th colspan="3"></th>
          </tr>
       </thead>
        <tbody>
            <tr>
              <td><%= @exercise.duration_in_min%></td>
              <td><%= @exercise.workout %></td>
              <td><%= @exercise.workout_date.strftime('%m-%d-%Y') %></td>
            </tr>
          </tbody>
    </table>
      </div>
    <%= link_to "Back", user_exercises_path(current_user), class: "btn btn-lg btn-primary" %>
  </div><!-- container-->
</section>













