<!DOCTYPE html>
<html>
<head>
  <title>ABetterU | Workout Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'partials/header'%>
    <%= render 'partials/main'%>
    <%= yield %>
    <% render 'partials/footer'%>
  </div>
</body>
</html>
